<h3>Calculate the Square</h3>

<form action="/square/results">
  <p><label for="input_number">Enter a number</label></p>

  <p>
  <input id="number" type="text" name="input_number">
  </p>
   <p>
   <button>Calculate Square</button>
   </p> 
</form>
