    
<form action="/payment/results">
  <div>
    <label for="apr">
      APR
    </label>
    <input id="apr" text="text" name="apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="years">
      Number of years
    </label>

    <input id="years" text="text" name="years" placeholder="How many years to repay?">
  </div>

  <div>
    <label for="principal">
      Principal
    </label>

    <input id="principal" text="text" name="principal" placeholder="How much principal?">
  </div>

  <button>
    Calculate monthly payment
  </button>
</form>
