<form action="/random/results">
  <div>
    <label for="min">
      Minimum
    </label>

    <input id="min" text="text" name="min" placeholder="E.g. 1.5">
  </div>

  <div>
    <label for="max">
      Maximum
    </label>

    <input id="max" text="text" name="max" placeholder="E.g. 4.5">
  </div>

  <button>
    Pick random number
  </button>
</form>
