<h1>Square Results</h1>

<%#= params %>
<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @the_num %>
  </dd>

  <dt>
    Square
  </dt>
  <dd>
   <%= @the_result %>
  </dd>
</dl>

<a href="/square/new">
  Calculate another square
</a>
