
<h3>Calculate the Square</h3>

<form action="/square/results">
  <label for="input_number">Enter a number</label>
  <input id="number" type="text" name="input_number">
    <button>Calculate Square</button>
</form>
