<form action="/square_root/results">
  <div>
    <label for="input_number">
      Enter a number
    </label>

    <input id="input_number" text="text" name="input_number" placeholder="What number do you want to take the square root of?">
  </div>

  <button>
    Calculate square root
  </button>
</form>
