    <h1>
  Square Root Results
</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @the_num %>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
<%= @the_result %>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square root
</a>
